absl-py==1.0.0
aiohttp 
aiosignal 
alabaster 
anaconda-client 
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
argon2-cffi-bindings
arrow 
asn1crypto 
astroid 
astropy 
asttokens 
astunparse==1.6.3
async-generator 
async-timeout 
atomicwrites==1.4.0
attrs 
Automat==20.2.0
autopep8 
awscli==1.25.1
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
boto==2.49.0
boto3 
botocore 
Bottleneck 
brotlipy==0.7.0
cached-property 
cachetools 
certifi==2022.5.18.1
cffi 
chardet 
charset-normalizer 
click==8.0.3
cloudpickle 
clyent==1.2.2
colorama 
colorcet 
comtypes==1.1.10
conda==4.13.0
conda-build==3.21.6
conda-content-trust 
conda-pack 
conda-package-handling 
conda-repo-cli 
conda-token 
conda-verify==3.4.2
constantly==15.1.0
contextlib2 
cookiecutter 
cryptography 
cssselect==1.1.0
cycler==0.10.0
Cython 
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
datashader 
datashape==0.5.4
debugpy 
decorator 
deepface==0.0.73
defusedxml 
diff-match-patch 
distributed 
docutils 
entrypoints==0.3
et-xmlfile==1.1.0
executing 
fastcache 
fastjsonschema 
filelock 
flake8 
Flask==2.1.2
Flask-Cors==3.0.10
flatbuffers==2.0
fonttools==4.25.0
frozenlist 
fsspec 
future 
gast==0.5.3
gdown==4.4.0
gensim 
gevent 
glob2 
google-api-core 
google-auth 
google-auth-oauthlib==0.4.6
google-cloud-core 
google-cloud-storage 
google-crc32c 
google-pasta==0.2.0
google-resumable-media 
googleapis-common-protos 
greenlet 
grpcio==1.44.0
gunicorn==20.1.0
h5py 
HeapDict 
holoviews 
html5lib 
hvplot 
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jdcal 
jedi 
Jinja2==3.1.2
jinja2-time 
jmespath 
joblib 
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang==13.0.0
llvmlite==0.37.0
locket==0.2.1
lxml 
Markdown 
MarkupSafe==2.1.1
matplotlib 
matplotlib-inline 
matplotlip==0.2
mccabe==0.6.1
menuinst 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
mtcnn==0.1.1
multidict 
multipledispatch 
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk==3.6.5
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
oauthlib==3.2.0
olefile 
opencv-python==4.5.5.62
openpyxl 
opt-einsum==3.3.0
packaging 
pandas 
pandocfilters 
panel 
param 
paramiko 
parsel 
parso 
partd 
path 
pathlib2 
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==8.4.0
pkginfo==1.7.1
plotly 
pluggy 
ply==3.11
poyo 
prometheus-client 
prompt-toolkit 
Protego 
protobuf==3.19.4
psutil 
ptyprocess 
pure-eval 
py 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle 
pycosat==0.6.3
pycparser 
pyct==0.4.6
pycurl==7.44.1
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyHamcrest 
PyJWT 
pylint 
pyls-spyder==0.4.0
PyNaCl 
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing 
pyreadline==2.1
pyrsistent 
PySocks 
pytest==6.2.4
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
python-snappy 
pytz==2021.3
pyu2f 
pyviz-comms 
PyWavelets 
pywin32==228
pywin32-ctypes 
pywinpty 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib 
regex 
requests 
requests-file 
requests-oauthlib==1.3.1
retina-face==0.0.10
rope 
rsa 
Rtree 
ruamel-yaml-conda 
s3transfer 
scikit-image==0.18.3
scikit-learn 
scikit-learn-intelex==2021.20210714.120553
scipy 
Scrapy 
seaborn 
Send2Trash 
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch 
sip==4.19.13
six 
smart-open 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx==4.2.0
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels==0.12.2
sympy 
tables==3.6.1
tabulate 
TBB==0.2
tblib 
tenacity 
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflowjs==3.14.0
termcolor==1.1.0
terminado==0.9.4
testpath 
text-unidecode 
textdistance 
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl 
three-merge 
tifffile 
tinycss 
tldextract 
toml 
tomli 
toolz 
tornado 
tqdm 
traitlets 
Twisted 
twisted-iocpsupport 
typed-ast 
typing-extensions 
ujson 
unicodecsv==0.14.1
Unidecode 
urllib3==1.26.7
w3lib 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug==2.0.3
whichcraft 
widgetsnbextension 
win-inet-pton 
win-unicode-console==0.5
wincertstore==0.2
wrapt 
xarray 
xlrd 
XlsxWriter 
xlwings==0.24.9
xlwt==1.3.0
xmltodict 
yapf 
yarl 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
